@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  --color-primary: #2274a5;
  --color-primary-dark: #1a5c84;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
}

button, a, [role="button"], label[for] {
  cursor: pointer;
}
